:root {
  --brand-color: #f53855;
  --second-color: #4f5665;
  --accent-color: #0b132a;
  --btn-color: #f53838;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 35px;
  line-height: 143%;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;

  font-size: 16px;
  line-height: 187%;
  color: var(--second-color);
}

.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-weight: 500;

  font-size: 16px;
  line-height: 187%;
  color: var(--second-color);
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 5px;
  margin: 0 auto;
  text-align: center;
}

/*  ==============================HEADER=============================== */

header {
  margin-bottom: 40px;
}

.nav {
  justify-content: space-between;
  padding-top: 20px;
}

.nav img {
  margin-right: 20px;
}

.nav-list {
  column-gap: 15px;
  justify-content: center;
  margin-right: 10px;
}

.nav-link {
  font-size: 16px;
  color: var(--second-color);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--brand-color);
}

.btn-border {
  width: 100px;
  height: 45px;
  font-size: 16px;
  color: var(--accent-color);
  border-radius: 50px;
  border: none;
  background-color: #fff;
  transition: color 0.3s ease, border 0.3s ease;
}

.btn-border:hover {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}

/*  =========================MODAL=========================  */

.no-scroll {
  overflow: hidden;
}

.modal.block {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(213, 216, 216, 0.5);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form.flex {
  max-width: 100%;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}

.label {
  width: 80%;
  font-size: 20px;
  line-height: 187%;
  font-weight: 700;
}

.input {
  width: 100%;
  font-size: 20px;
  line-height: 187%;
  font-weight: 500;
  border-radius: 20px;
  padding: 15px;
  border: none;
  outline: #aaa;
  background-color: #fff;
}

.btn-red-modal {
  width: 250px;
  height: 60px;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--btn-color);
}

.btn-red-modal:hover {
  background-color: var(--brand-color);
}

/* ===========================MAIN========================== */

.hero {
  margin-bottom: 55px;
}

.blok.flex {
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 95%;
}

.hero h1 {
  font-size: 30px;
  line-height: 140%;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.hero p {
  font-size: 16px;
  line-height: 187%;
  color: var(--second-color);
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn-red {
  width: 120px;
  height: 30px;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--btn-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-red:hover {
  background-color: var(--brand-color);
}

.btn-filter {
  display: none;
  position: absolute;
  transform: translate(10%, 40%);
  color: #fff;
  width: 211px;
  height: 60px;
  border-radius: 10px;
  filter: blur(54px);
  background: rgba(245, 56, 56, 0.35);
  cursor: pointer;
}

.hero-img {
  width: 70%;
  position: relative;
  transform: translate(-3%, 27%);
}

/* ==============================INFO====================== */

.info {
  margin-bottom: 30px;
}

.info .container {
  position: relative;
}

.filter {
  display: none;
  position: relative;
  top: 20%;
  left: 0;

  border-radius: 10px;
  width: 1068px;
  height: 189px;

  filter: blur(114px);
  background: rgb(13, 16, 37);
  opacity: 0.06;
  z-index: 1;
  border: 2px solid black;
}

.info-list.flex {
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.info-item.flex {
  width: 200px;
  column-gap: 20px;
  justify-content: flex-start;
}

.info-item.flex:nth-child(1) {
  padding-bottom: 10px;
}

.info-item.flex:nth-child(2) {
  border-top: 2px solid rgb(13, 16, 37, 0.06);
  border-bottom: 2px solid rgb(13, 16, 37, 0.06);
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-item.flex:last-child {
  padding-top: 10px;
}

.info-wrap.flex {
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.info-wrap.flex b {
  font-size: 16px;
  line-height: 120%;
  color: var(--accent-color);
}

.info-wrap.flex span {
  font-size: 16px;
  line-height: 150%;
  color: var(--second-color);
}

/* ============================FEATURES============================= */

.features {
  margin-bottom: 30px;
}

.features .container.flex {
  flex-direction: column;
}

.features img {
  width: 60%;
  margin-bottom: 15px;
}

.features-wrap {
  text-align: center;
}

.features h2 {
  width: 50%;
  font-size: 18px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.features p {
  margin: 0 auto;
  font-size: 14px;
  line-height: 147%;
  color: var(--second-color);
  width: 60%;
  margin-bottom: 20px;
}

.features-item {
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
  padding-left: 30px;
  position: relative;
}

.features-item:not(:last-child) {
  margin-bottom: 10px;
}

.features-item::before {
  content: "";
  position: absolute;
  left: 19%;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-item::before {
  content: "\2713";
  color: white;
  font-size: 12px;
}

/* ===============================PLAN============================= */

.plan {
  background-color: rgb(13, 16, 37, 0.01);
  padding-top: 10px;
  margin-bottom: 20px;
}

.plan h2 {
  font-size: 18px;
  line-height: 147%;
  margin-bottom: 15px;
}

.plan p {
  font-size: 12px;
  line-height: 127%;
  color: var(--second-color);
  margin: 0 80px 15px;
}

.plan-list {
  flex-direction: column;
  row-gap: 20px;
}

.plan-item.flex {
  position: relative;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  transition: border 0.3s ease;
}

.plan-item.flex:hover {
  border: 2px solid var(--brand-color);
}

.plan-item.flex img {
  width: 30%;
  object-fit: contain;
  margin-bottom: 10px;
}

.plan-item.flex h3 {
  font-size: 14px;
  line-height: 147%;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.plan-items.flex {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 20px;
}

.plan-items-item {
  width: max-content;
  position: relative;
  padding-left: 25px;
  font-size: 12px;
  line-height: 114%;
  color: var(--second-color);
}

.plan-items-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-items-item::before {
  content: "\2713";
  color: green;
  font-size: 10px;
}

.plan strong {
  font-size: 16px;
  line-height: 60%;
  color: var(--accent-color);
  margin-right: 4px;
  margin-bottom: 10px;
}

.plan span {
  font-size: 16px;
  line-height: 60%;
  color: var(--second-color);
  margin-bottom: 10px;
}

.button-red {
  font-size: 14px;
  color: var(--btn-color);
  width: 100px;
  height: 25px;
  border: 2px solid var(--btn-color);
  border-radius: 50px;
  cursor: pointer;
  background-color: #fff;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.button-red:hover {
  background-color: var(--btn-color);
  color: #fff;
}

.btn-filter-red {
  display: none;
  position: absolute;
  left: 30%;
  bottom: 4%;
  cursor: pointer;
  border-radius: 60px;
  width: 127px;
  height: 45px;
  filter: blur(54px);
  border: 2px solid black;
  background: rgba(245, 56, 56, 0.35);
}

.button-red:hover + .btn-filter-red {
  display: block;
}

/* =============================NETWORK========================== */

.network {
  background-color: rgb(13, 16, 37, 0.01);
  padding-bottom: 50px;
}

.network h2 {
  margin: 0 40px;
  font-size: 20px;
  line-height: 187%;
}

.network p {
  font-size: 14px;
  line-height: 147%;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 40px;
  margin: 0 80px 15px;
}

.network svg {
  width: 60%;
  height: 60%;
  object-fit: contain;

  margin-bottom: 18px;
}

.network-list.flex {
  flex-wrap: wrap;
}

.network-list.flex img {
  width: 60%;
  height: 60%;
}

/* ===========================CUSTOMER======================= */

.customer {
  background-color: rgb(13, 16, 37, 0.01);
  text-align: center;
  margin-bottom: 80px;
}

.customer .container {
  position: relative;
}

.customer .container > h2 {
  font-size: 20px;
  line-height: 147%;
  color: var(--second-color);
  margin-bottom: 20px;
}

.customer .container > p {
  font-size: 12px;
  line-height: 127%;
  color: var(--second-color);
  margin-bottom: 20px;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.customer-list.flex {
  position: relative;
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.customer-item {
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #dddddd;
  background-color: #fff;
  border-radius: 10px;
  transition: border 0.3s ease;
}

.customer-item.flex:hover {
  border: 2px solid var(--btn-color);
}

.active-slide {
  border: 2px solid var(--btn-color);
}

.customer-item-red {
  display: none;
  position: absolute;
  left: 1%;
  bottom: -6%;
  width: 318px;
  height: 300px;
  filter: blur(114px);
  background: #0d1025;
  border: 2px solid #0d1025;
}

.customer-item.flex:hover + .customer-item-red {
  display: block;
}

.customer-item.flex p {
  font-size: 12px;
  line-height: 127%;
  color: var(--accent-color);
  text-align: start;
}

.customer-wrap.flex {
  justify-content: space-between;
}

.customer-wrap.flex div {
  gap: 10px;
  text-align: left;
}

.customer-wrap.flex p {
  font-size: 10px;
  line-height: 114%;
  color: var(--second-color);
  text-align: left;
}

.customer-change-slayder.flex {
  position: absolute;
  bottom: -23%;
  column-gap: 20px;
}

.customer-change-slayder button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.customer-change-slayder svg {
  width: 40px;
  height: 40px;
}

/* ==============================SUBSCRIBE================= */

.subscribe .container.flex {
  flex-direction: column;
  position: relative;
  padding: 20px 30px;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;
}

.subscribe-wrapper h2 {
  font-size: 20px;
  line-height: 129%;
}

.subscribe-wrapper p {
  font-size: 14px;
  margin-bottom: 20px;
}

.subscribe .rubik-bold.btn-red {
  width: 100px;
  font-size: 12px;
  color: #fff;
}

/* ==============================FOOTER================= */

.footer {
  background: #f8f8f8;
  z-index: 1;
}

.informations .container.flex {
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.footer-wrapper {
  order: 2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-wrapper img {
  margin-bottom: 10px;
}

.footer-wrapper p {
  font-size: 12px;
  margin-bottom: 10px;
}

.informations-list.flex {
  justify-content: flex-start;
}

.informations-year {
  color: #afb5c0;
}

.informations-aside.flex {
  column-gap: 20px;
  align-items: flex-start;
}

.informations-aside-wrap strong {
  font-size: 14px;
  line-height: 167%;
}

.informations-aside-wrap ul {
  font-size: 12px;
  line-height: 167%;
}

/* ===================================320px======================== */

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 320px;
  }

  /* ==============================HEADER=============================== */

  .nav-list.flex {
    display: none;
  }

  /*  =========================MODAL=========================  */

  .modal-info {
    max-width: 320px;
    width: 100%;
    margin: 23px;
    padding: 10px;
    border: 1px solid var(--second-color);
    background-color: rgba(213, 216, 216, 0.6);
    border-radius: 20px;
  }

  /* ===========================CUSTOMER======================= */

  .customer-list.flex {
    column-gap: 10px;
  }

  .customer-item {
    max-width: 320px;
    padding: 5px;
  }

  .customer-wrap.flex {
    column-gap: 60px;
  }

  .customer-change-slayder.flex {
    right: 32%;
  }
}


/* ===================================480px======================== */


@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 10px;
  }

  /* ==============================HEADER=============================== */
  .nav {
    padding-top: 25px;
  }

  .nav-list.flex {
    display: none;
  }

  /*  =============================MODAL=========================  */

  .modal-info {
    max-width: 400px;
    width: 100%;
    margin: 50px 40px;
    padding: 10px;
    border: 1px solid var(--second-color);
    background-color: rgba(213, 216, 216, 0.6);
    border-radius: 20px;
  }

  /* ===============================MAIN============================ */
  .hero {
    margin-bottom: 20px;
  }

  .btn-red {
    width: 140px;
    height: 50px;
    margin-bottom: 30px;
  }

  .hero-img {
    transform: translate(0%, -4%);
  }

  /* ============================FEATURES========================= */

  .features-item::before {
    left: 25%;
    width: 24px;
    height: 24px;
  }

  /* ===========================CUSTOMER========================== */

  .customer-list.flex {
    column-gap: 20px;
  }

  .customer-item {
    width: 100%;
    padding: 20px;
  }

  .customer-wrap.flex div {
    width: max-content;
  }

  .customer-change-slayder.flex {
    right: 36%;
    column-gap: 30px;
  }



  /* ================================768px====================== */



  @media screen and (min-width: 768px) {
    .container {
      max-width: 760px;
      padding: 0;
      margin: 0 auto;
    }

    /* ==============================HEADER======================= */

    header {
      margin-bottom: 40px;
    }

    .nav-list.flex {
      display: flex;
      justify-content: center;
    }

    /*  =========================MODAL=========================  */

    .modal-info {
      margin: 50px 220px;
    }

    /* ===========================MAIN========================= */

    .hero {
      margin-bottom: 20px;
      height: 300px;
    }

    .blok.flex {
      flex-direction: column;
      position: relative;
      max-width: 300px;
    }

    .hero-img {
      width: 60%;
      position: relative;
      transform: translate(32%, -111%);
    }

    /* ===========================INFO============================ */

    .info {
      margin-top: 0px;
      margin-bottom: 30px;
    }

    .info-list.flex {
      flex-direction: row;
      padding-top: 0px;
    }

    .info-item.flex:nth-child(1) {
      padding-bottom: 0px;
    }

    .info-item.flex:nth-child(2) {
      border-top: none;
      border-bottom: none;
      border-left: 2px solid rgb(13, 16, 37, 0.06);
      border-right: 2px solid rgb(13, 16, 37, 0.06);
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .info-item.flex:last-child {
      padding-top: 0px;
      padding-left: 50px;
    }

    /* ===========================FEATURES=====================================*/

    .features .container.flex {
      flex-direction: row;
      column-gap: 20px;
    }

    .features-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }

    .features h2 {
      width: 100%;
      font-size: 20px;
      margin-bottom: 0px;
    }

    .features p {
      font-size: 14px;
      line-height: 147%;
      color: var(--second-color);
      width: 100%;
    }

    .features-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .features-item {
      padding-left: 44px;
    }

    .features-item::before {
      left: 0;
    }

    /* ===========================PLAN============================== */

    .plan h2 {
      font-size: 22px;
      line-height: 167%;
      font-weight: 700;
      margin: 20px;
    }

    .plan p {
      font-size: 16px;
      line-height: 147%;
      margin: 20px;
    }

    .plan-list {
      flex-direction: row;
      column-gap: 20px;
      align-items: stretch;
    }

    .plan-item.flex {
      justify-content: space-between;
      flex-direction: column;
      padding: 20px;
    }

    .plan-item.flex h3 {
      font-size: 14px;
      line-height: 147%;
      color: var(--accent-color);
      margin-bottom: 10px;
    }

    .plan-items-item {
      display: flex;
      justify-content: flex-start;
      padding-left: 25px;
      font-size: 12px;
      line-height: 124%;
    }

    .button-red {
      font-size: 16px;
      width: 120px;
      height: 25px;
    }

    .button-red:hover {
      background-color: var(--btn-color);
      color: #fff;
    }

    /* =============================NETWORK=========================== */

    .network {
      padding-bottom: 0px;
      padding-bottom: 40px;
    }

    .network h2 {
      font-size: 22px;
      line-height: 187%;
    }

    .network p {
      font-size: 16px;
      line-height: 167%;
      margin: 0 0 40px 0;
    }

    .network svg {
      width: 80%;
      height: 80%;
      object-fit: contain;
      margin-bottom: 20px;
    }

    .network-list.flex {
      flex-wrap: wrap;
      gap: 30px;
    }

    /* =================================CUSTOMER================================== */

    .customer .container > h2 {
      font-size: 22px;
      line-height: 147%;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .customer .container > p {
      font-size: 16px;
      line-height: 167%;
      margin-bottom: 20px;
    }

    .customer-list.flex {
      position: relative;
      column-gap: 30px;
    }

    .customer-item {
      max-width: 400px;
      justify-content: flex-start;
    }

    .customer-item.flex p {
      font-size: 14px;
      line-height: 147%;
    }

    .customer-change-slayder.flex {
      position: absolute;
      right: 41%;
      column-gap: 40px;
    }

    /* ===================================SUBSCRIBE====================================== */

    .subscribe {
      margin-bottom: 20px;
    }

    .subscribe .container.flex {
      flex-direction: row;
      justify-content: space-around;
      padding: 20px;
      column-gap: 80px;
    }

    .subscribe-wrapper h2 {
      font-size: 22px;
      line-height: 147%;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .subscribe-wrapper p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .subscribe .rubik-bold.btn-red {
      width: 140px;
      height: 50px;
      line-height: 147%;
      font-size: 14px;
    }

    /* ==============================FOOTER================================ */

    .informations .container.flex {
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
    }

    .footer-wrapper {
      order: 1;
      text-align: start;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .footer-wrapper p {
      font-size: 14px;
    }

    .informations-aside.flex {
      order: 2;
      column-gap: 30px;
      align-items: flex-start;
    }

    .informations-aside-wrap strong {
      font-size: 16px;
    }

    .informations-aside-wrap {
      text-align: left;
    }

    .informations-aside-wrap ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 14px;
    }
  }



  /* ================================1200px================== */



  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1140px;
      padding: 0;
      margin: 0 auto;
    }

    /* ==============================HEADER=============================== */

    header {
      margin-bottom: 88px;
    }

    .nav {
      justify-content: space-between;
      padding-top: 46px;
    }

    .nav-link {
      font-size: 16px;
      color: var(--second-color);
      transition: color 0.3s ease;
    }

    .nav-list.flex {
      display: flex;
      justify-content: center;
      column-gap: 40px;
    }

    .btn-border {
      width: 150px;
      height: 45px;
      font-size: 16px;
    }

    /*  =========================MODAL=========================  */

    .modal-info {
      margin: 30px auto;
    }

    /* ===========================MAIN========================= */

    .hero {
      margin-bottom: 103px;
    }

    .blok.flex {
      max-width: 555px;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 27px;
      text-align: start;
    }

    .hero h1 {
      font-size: 50px;
      font-weight: 500;
      line-height: 140%;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 16px;
      line-height: 187%;
      margin-bottom: 50px;
    }

    .buttons {
      position: relative;
      display: flex;
    }

    .btn-red {
      width: 250px;
      height: 60px;
    }

    .btn-filter {
      display: block;
      position: relative;
      transform: translate(-110%, 22%);
      width: 211px;
      height: 60px;
      border-radius: 10px;
      filter: blur(54px);
      background: rgba(245, 56, 56, 0.35);
      cursor: pointer;
      border: 1px solid black;
    }

    .hero-img {
      max-width: 611px;
      max-height: 382px;
      position: relative;
      transform: translate(50%, -106%);
    }

    /* ===========================INFO============================ */

    .info {
      margin-bottom: 96px;
    }

    .info .container {
      position: relative;
    }

    .filter {
      display: block;
      position: absolute;
      top: 20%;
      left: 0;

      border-radius: 10px;
      width: 1068px;
      height: 189px;

      filter: blur(114px);
      background: #0d1025;
      opacity: 0.06;
    }

    .info-list.flex {
      justify-content: space-around;
      height: 200px;
    }

    .info-item.flex {
      height: 125px;
    }

    .info-item.flex:nth-child(1) {
      border-right: 2px solid rgb(13, 16, 37, 0.06);
      margin-left: 95px;
    }

    .info-item.flex:nth-child(3) {
      border-left: 2px solid rgb(13, 16, 37, 0.06);
      margin-right: 95px;
    }

    .info-item.flex:nth-child(2) {
      border-top: none;
      border-bottom: none;
      border-right: none;
      border-left: none;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .info-wrap.flex b {
      font-size: 25px;
      line-height: 120%;
    }

    .info-wrap.flex span {
      font-size: 20px;
      line-height: 150%;
    }

    /* ===========================FEATURES=====================================*/

    .features {
      margin-bottom: 131px;
    }

    .features img {
      margin-right: 169px;
    }

    .features-wrap {
      padding-top: 50px;
    }

    .features h2 {
      max-width: 383px;
      text-align: start;
      font-weight: 700;
      font-size: 35px;
      line-height: 143%;
    }

    .features p {
      font-size: 16px;
      font-weight: 400;
      line-height: 187%;
      text-align: start;
      max-width: 427px;
      margin-bottom: 20px;
    }

    .features-item {
      font-size: 14px;
      line-height: 214%;
      padding-left: 30px;
      position: relative;
    }

    .features-item:not(:last-child) {
      margin-bottom: 15px;
    }

    /* ===========================PLAN============================== */

    .plan {
      background-color: rgb(13, 16, 37, 0.01);
      padding-top: 80px;
      padding-bottom: 150px;
      margin-bottom: 0;
    }

    .plan h2 {
      font-weight: 700;
      font-size: 35px;
      line-height: 143%;
      margin: 20px;
    }

    .plan p {
      padding: 0 247px;
      line-height: 187%;
      margin-bottom: 60px;
    }

    .plan-list {
      column-gap: 50px;
    }

    .plan-item.flex {
      width: 330px;
      padding: 80px 69px 50px 69px;
    }

    .plan-item.flex img {
      margin-bottom: 30px;
      height: 167px;
      width: 100%;
    }

    .plan-item.flex h3 {
      font-size: 18px;
      line-height: 167%;
      margin-bottom: 30px;
    }

    .plan-items.flex {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 10px;
      margin-bottom: 130px;
    }

    .plan-items.flex.standard {
      margin-bottom: 90px;
    }

    .plan-items.flex.premium {
      margin-bottom: 50px;
    }

    .plan-items-item {
      width: max-content;
      position: relative;
      padding-left: 44px;
      font-size: 14px;
      line-height: 214%;
      color: var(--second-color);
    }

    .plan strong {
      font-size: 25px;
      line-height: 120%;
      margin-right: 4px;
      margin-bottom: 20px;
    }

    .plan span {
      font-size: 25px;
      line-height: 120%;
      margin-bottom: 20px;
    }

    .button-red {
      font-size: 16px;
      width: 177px;
      height: 45px;
    }

    .btn-filter-red {
      display: none;
      position: absolute;
      left: 30%;
      bottom: 4%;
      cursor: pointer;
      border-radius: 60px;
      width: 127px;
      height: 45px;
      filter: blur(54px);
      border: 2px solid black;
      background: rgba(245, 56, 56, 0.35);
    }

    .button-red:hover + .btn-filter-red {
      display: block;
    }

    /* ===================================NETWORK====================================== */

    .network {
      background-color: rgb(13, 16, 37, 0.01);
      text-align: center;
      padding-bottom: 50px;
    }

    .network .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .network h2 {
      font-weight: 700;
      font-size: 35px;
      line-height: 143%;
      text-align: center;
    }

    .network p {
      line-height: 187%;
      margin-bottom: 155px;
    }

    .network svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-bottom: 35px;
    }

    .network-list.flex {
      flex-wrap: wrap;
      gap: 30px;
    }

    /* ===================================CUSTOMER====================================== */

    .customer {
      background-color: rgb(13, 16, 37, 0.01);
      text-align: center;
      margin-bottom: 180px;
    }

    .customer .container {
      position: relative;
    }

    .customer .container > h2 {
      font-size: 35px;
      line-height: 143%;
      font-weight: 700;
    }

    .customer .container > p {
      line-height: 187%;
      margin-bottom: 20px;
    }

    .customer-list.flex {
      position: relative;
      column-gap: 50px;
    }

    .customer-item {
      max-width: 400px;
      justify-content: flex-start;
      height: 230px;
      flex-direction: column;
      padding: 30px;
    }

    .customer-item-red {
      display: none;
      width: 318px;
      height: 300px;
      filter: blur(114px);
      background: #0d1025;
    }

    .customer-item.flex:hover + .customer-item-red {
      display: block;
    }

    .customer-item.flex p {
      font-size: 14px;
      line-height: 147%;
    }

    .customer-change-slayder.flex {
      position: relative;
      transform: translate(83%, 83%);
      column-gap: 20px;
    }

    /* ===================================SUBSCRIBE====================================== */

    .subscribe {
      margin-bottom: 20px;
    }

    .subscribe .container.flex {
      position: relative;
      padding: 58px 70px;
      justify-content: space-between;
      margin-bottom: -130px;
      background-color: #fff;
      z-index: 2;
    }

    .subscribe-wrapper {
      text-align: start;
    }

    .subscribe-wrapper h2 {
      line-height: 129%;
      margin-bottom: 20px;
    }

    .subscribe-wrapper p {
      font-size: 16px;
      line-height: 187%;
      margin-bottom: 20px;
    }

    .subscribe .buttons {
      position: relative;
      transform: translateX(180px);
    }

    .subscribe .rubik-bold.btn-red {
      width: 250px;
      height: 60px;
      line-height: 156%;
      font-size: 16px;
    }

    /* ==============================FOOTER================================ */

    footer {
      position: relative;
      background: #f8f8f8;
      z-index: 1;
    }

    .footer-wrapper {
      padding-top: 180px;
      padding-bottom: 100px;
      margin-bottom: 20px;
    }

    .footer-wrapper p {
      margin-bottom: 30px;
      font-size: 16px;
    }

    .informations-aside.flex {
      column-gap: 125px;
    }

    .informations-aside-wrap strong {
      font-size: 18px;
      line-height: 167%;
    }

    .informations-aside-wrap {
      text-align: left;
    }

    .informations-aside-wrap ul {
      font-size: 16px;
      line-height: 187%;
    }
  }
}